.main {
    width: 75%;
    height: 80px;
    background-color: rgb(18, 18, 107);
    float: right;


}

.sub {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    color: white;
}

.sub ul {
    display: flex;
    justify-content: space-evenly;
}

.sub ul li {
    list-style: none;
    margin-left: 15px;
    margin-top: 9px;
}

.sub ul li a {
    color: white;
    text-decoration: none;
}


.btn1 {
    margin-left: 20px;
    padding: 10px 10px 8px 10px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 0;

}



.btn2 {
    padding: 10px;
    border-radius: 5px;
    position: absolute;
}


@media (min-width:992px) {

    .main {
        width: 79.5%;
        background-color: rgba(9, 9, 11, 0.4);
        position: fixed;
        margin-left: 20.7%;
        z-index: 1;
        backdrop-filter: blur(8px);


    }

    .sub {
        width: 95%;
    }

    .di1 {
        display: flex;
        width: 50%;
        margin-left: 0;
        padding-left: 0;
    }

    .di1 p {
        width: 70%;
        margin-top: 5px;
        padding-top: 4px;
        padding-left: 15px;
        padding-bottom: 0;
        border: 1px solid rgb(79, 223, 50);
        margin-right: 10px;
        height: 25px;
        border-radius: 18px;
        text-transform: uppercase;
        font-size: 13px;
        color: rgb(100, 208, 100);
        background-color: rgb(17, 19, 17);
        font-weight: 500;
    }

    .di1 p i {
        background-color: rgb(5, 170, 5);
        border-radius: 50%;
        padding: 0px 2px 0px 2px;
        animation: colorl 4s infinite;

    }

    @keyframes colorl {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.4;
        }
    }

    .di1 input {
        border-radius: 20px;
        background-color: rgba(66, 63, 63, 0.5);
        color: white;
        border: none;
        margin-top: 2px;
        width: 90%;
    }

    .di2 {
        width: 25%;
        display: flex;
        justify-content: space-evenly;
    }

    .di2p1 {
        background-color: rgba(66, 63, 63, 0.5);
        padding: 8px 10px 14px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        color: rgb(161 161 170);
    }

    .di2p2 {
        margin-top: 2px;
        color: rgb(161 161 170);
        font-size: 25px;
    }

    .di2p3 {
        margin-top: 1px;
        background-color: rgba(66, 63, 63, 0.5);
        padding: 9px 14px 18px 14px;
        height: 15px;
        border-radius: 10px;
        color: rgb(161 161 170);
    }


}

@media (min-width:1200px) {

    .main {
        width: 79.5%;
        background-color: rgba(9, 9, 11, 0.4);
        position: fixed;
        margin-left: 20.7%;
        z-index: 1;
        backdrop-filter: blur(8px);


    }

    .sub {
        width: 95%;
    }

    .di1 {
        display: flex;
        width: 50%;
        margin-left: 0;
        padding-left: 0;
    }

    .di1 p {
        width: 70%;
        margin-top: 5px;
        padding-top: 4px;
        padding-left: 15px;
        padding-bottom: 0;
        border: 1px solid rgb(79, 223, 50);
        margin-right: 10px;
        height: 25px;
        border-radius: 18px;
        text-transform: uppercase;
        font-size: 13px;
        color: rgb(100, 208, 100);
        background-color: rgb(17, 19, 17);
        font-weight: 500;
    }

    .di1 p i {
        background-color: rgb(5, 170, 5);
        border-radius: 50%;
        padding: 0px 2px 0px 2px;
        animation: colorl 4s infinite;

    }

    @keyframes colorl {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.4;
        }
    }

    .di1 input {
        border-radius: 20px;
        background-color: rgba(66, 63, 63, 0.5);
        color: white;
        border: none;
        margin-top: 2px;
        width: 90%;
    }

    .di2 {
        width: 25%;
        display: flex;
        justify-content: space-evenly;
    }

    .di2p1 {
        background-color: rgba(66, 63, 63, 0.5);
        padding: 8px 10px 14px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        color: rgb(161 161 170);
    }

    .di2p2 {
        margin-top: 2px;
        color: rgb(161 161 170);
        font-size: 25px;
    }

    .di2p3 {
        margin-top: 1px;
        background-color: rgba(66, 63, 63, 0.5);
        padding: 9px 14px 18px 14px;
        height: 15px;
        border-radius: 10px;
        color: rgb(161 161 170);
    }


}

@media (min-width:1400px) {

    .main {
        width: 79.5%;
        background-color: rgba(9, 9, 11, 0.4);
        position: fixed;
        margin-left: 20.7%;
        z-index: 1;
        backdrop-filter: blur(8px);


    }

    .sub {
        width: 95%;
    }

    .di1 {
        display: flex;
        width: 50%;
        margin-left: 0;
        padding-left: 0;
    }

    .di1 p {
        width: 70%;
        margin-top: 5px;
        padding-top: 4px;
        padding-left: 15px;
        padding-bottom: 0;
        border: 1px solid rgb(79, 223, 50);
        margin-right: 10px;
        height: 25px;
        border-radius: 18px;
        text-transform: uppercase;
        font-size: 13px;
        color: rgb(100, 208, 100);
        background-color: rgb(17, 19, 17);
        font-weight: 500;
    }

    .di1 p i {
        background-color: rgb(5, 170, 5);
        border-radius: 50%;
        padding: 0px 2px 0px 2px;
        animation: colorl 4s infinite;

    }

    @keyframes colorl {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.4;
        }
    }

    .di1 input {
        border-radius: 20px;
        background-color: rgba(66, 63, 63, 0.5);
        color: white;
        border: none;
        margin-top: 2px;
        width: 90%;
    }

    .di2 {
        width: 25%;
        display: flex;
        justify-content: space-evenly;
    }

    .di2p1 {
        background-color: rgba(66, 63, 63, 0.5);
        padding: 8px 10px 14px 15px;
        border-radius: 10px;
        margin-bottom: 10px;
        color: rgb(161 161 170);
    }

    .di2p2 {
        margin-top: 2px;
        color: rgb(161 161 170);
        font-size: 25px;
    }

    .di2p3 {
        margin-top: 1px;
        background-color: rgba(66, 63, 63, 0.5);
        padding: 9px 14px 18px 14px;
        height: 15px;
        border-radius: 10px;
        color: rgb(161 161 170);
    }


}