.main {
    width: 79.3%;
    height: 100vh;
    background-color: rgb(93, 60, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0;
}

.sub {
    width: 70%;
    border: 1px solid white;
    padding: 30px 20px;
    border-radius: 10px;
}

.sub p {
    color: white;
    margin-bottom: 20px;
}

.sub1 input {
    width: 90%;
    padding: 9px 0px 9px 10px;
    margin: 5px auto;
    border-radius: 5px;
}

.btn1 {
    padding: 8px 8px;
    margin-top: 5px;
    width: 50%;
    border-radius: 5px;
}