.main {
    width: 80.1%;

    background-color: rgb(0, 0, 0);
    float: right;
    padding-top: 90px;
    padding-bottom: 50px;

}

.di1 {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}


.di1sub1 h4 {
    color: white;
    font-size: 30px;
}

.di1sub1 p {
    color: rgb(113 113 122);
}

.di1sub2 {
    display: flex;
    justify-content: space-evenly;
    width: 18%;
    background-color: rgb(33, 32, 32);
    align-items: center;
    border-radius: 10px;
}

.di1sub2 p:nth-child(1) {
    text-transform: capitalize;

    padding: 3px 7px 7px 7px;
    border-radius: 5px;
    color: rgb(162, 161, 161);

}

.di1sub2 p:nth-child(2) {
    text-transform: capitalize;
    padding: 3px 7px 7px 7px;
    border-radius: 5px;
    color: rgb(156, 155, 155);

}

.di1sub2 p:hover {
    padding: 3px 7px 7px 7px;
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
}

.di2 {
    width: 98%;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.di2sub1 {
    width: 20%;
    height: 150px;

    color: white;
    padding: 18px;
    border-radius: 10px;
    background-color: rgba(22, 24, 22, 0.6);
}

.di2sub1d1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 13px;
}

.di2sub1d1 p:nth-child(1) {
    padding: 9px 12px 12px 12px;
    background-color: rgba(58, 84, 58, 0.4);
    color: green;
    border-radius: 8px;
    font-size: 19px;
}

.di2sub1d1 p:nth-child(2) {
    color: rgb(98, 228, 98);
}

.di2sub1p1 {
    color: rgb(156, 155, 155);

}

.di2sub1p2 {
    color: rgb(249, 247, 247);
    font-size: 30px;
    font-weight: 600;
}


.di2sub2 {
    width: 20%;
    height: 150px;

    color: white;
    padding: 18px;
    border-radius: 10px;
    background-color: #16181899;
}

.di2sub2d1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 13px;
}

.di2sub2d1 p:nth-child(1) {
    padding: 9px 12px 12px 12px;
    background-color: rgba(58, 83, 84, 0.4);
    color: rgb(0, 124, 128);
    border-radius: 8px;
    font-size: 19px;
}

.di2sub2d1 p:nth-child(2) {
    color: rgb(228, 98, 98);
}

.di2sub2p1 {
    color: rgb(156, 155, 155);

}

.di2sub2p2 {
    color: rgb(243, 241, 241);
    font-size: 30px;
    font-weight: 600;
}

.di2sub3 {
    width: 20%;
    height: 150px;
    background-color: #18161899;
    color: white;
    padding: 18px;
    border-radius: 10px;
}

.di2sub3d1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 13px;
}

.di2sub3d1 p:nth-child(1) {
    padding: 9px 12px 12px 12px;
    background-color: rgba(84, 58, 76, 0.4);
    color: rgb(128, 0, 113);
    border-radius: 8px;
    font-size: 19px;
}

.di2sub3d1 p:nth-child(2) {
    color: rgb(134, 234, 134);
}

.di2sub3p1 {
    color: rgb(156, 155, 155);

}

.di2sub3p2 {
    color: rgb(249, 247, 247);
    font-size: 30px;
    font-weight: 600;
}

.di2sub4 {
    width: 20%;
    height: 150px;
    background-color: #18181699;
    color: white;
    padding: 18px;
    border-radius: 10px;
}

.di2sub4d1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 13px;
}

.di2sub4d1 p:nth-child(1) {
    padding: 9px 12px 12px 12px;
    background-color: rgba(97, 103, 57, 0.4);
    color: rgb(219, 243, 1);
    border-radius: 8px;
    font-size: 19px;
}

.di2sub4d1 p:nth-child(2) {
    color: rgb(224, 228, 98);
}

.di2sub4p1 {
    color: rgb(156, 155, 155);

}

.di2sub4p2 {
    color: rgb(249, 246, 246);
    font-size: 30px;
    font-weight: 600;
}

/* ----------------------------------di3---------------------------------- */

.di3 {
    width: 97%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;

}

.di3sub1 {
    width: 61%;
    height: 400px;

}

.di3sub1d1 {
    display: flex;
    color: white;
    justify-content: space-between;
}

.di3sub1d1 h4 {
    font-size: 23px;
}

.di3sub1d1sub1 {
    display: flex;
    justify-content: space-between;
    width: 8%;
}

.di3sub1d1sub1p1 i {
    color: rgb(110, 106, 106);
    font-size: 25px;
}

.di3sub1d1sub1p1 i:hover {
    color: white;
}

.di3sub1d1sub1p2 {
    color: rgb(108, 108, 228);
    font-size: 19px;
    margin-top: 5px;
}

.di3sub1d2 {
    display: flex;
    justify-content: space-between;
    color: white;
}

.di3sub1d2sub1 {
    width: 47%;
    margin-top: 10px;

}

.di3sub1d2sub1p1 i {
    background-color: skyblue;
    color: rgb(16, 180, 245);
    border-radius: 50%;
    font-size: 7px;

}

.di3sub1d2sub1p1 span {
    background-color: rgb(59, 58, 58);
    color: rgb(139, 136, 136);
    border-radius: 50%;
    padding: 4px 5px;
    font-size: 12px;
}

.di3sub1d2sub1d1 {
    background-color: rgba(24, 24, 27, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-top: 18px;
    padding: 18px;
    border-radius: 15px;
    box-shadow: -2px 0px 4px rgb(5, 79, 238);
    width: 95%;
}

.di3sub1d2sub1d1 .dark {

    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.di3sub1d2sub1d1 .dark1 {
    color: gray;
    font-size: 13px;
    margin-top: 10px;
}

.di3sub1d2sub1d1sub1 {
    display: flex;
    justify-content: space-between;

}

.di3sub1d2sub1d1sub1 p:nth-child(1) {
    background-color: rgba(113, 113, 211, 0.4);
    padding: 1px 12px 5px 12px;
    border-radius: 10px;
    color: rgba(135, 135, 245, 0.9);
}

.di3sub1d2sub1sub2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.di3sub1d2sub1sub2 p:nth-child(1) {
    color: rgb(81, 188, 237);
}

.di3sub1d2sub1sub2 p:nth-child(2) {
    background-color: gray;
    padding: 8px 10px;
    border-radius: 30%;
}

.di3sub1d2sub1d2 {

    margin-top: 20px;
    padding: 18px;
    border-radius: 18px;
    box-shadow: -2px 0px 4px rgb(135, 135, 137);
    width: 95%;
    background-color: rgba(24, 24, 27, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.di3sub1d2sub1d2 p:nth-child(1) {
    padding: 1px 5px 1px 8px;
    color: rgb(134, 134, 237);
    width: 18%;
    border-radius: 7px;
    background-color: rgba(140, 128, 243, 0.3);
    margin-bottom: 10px;
}

.di3sub1d2sub1d2 p:nth-child(2) {
    font-weight: 600;
    font-size: 18px;
}

.di3sub1d2sub1d2 p:nth-child(3) {
    color: rgb(164, 163, 163);
    font-size: 12px;
    margin-top: 10px;
}

.di3sub1d2sub1d2 p:nth-child(4) {

    margin-top: 8px;
    font-size: 14px;
    color: gray;
}




.di3sub1d2sub2 {
    width: 47%;
    margin-top: 10px;
}

.di3sub1d2sub2p1 i {
    font-size: 10px;
    color: rgba(119, 226, 119, 0.7);
}

.di3sub1d2sub2p1 span {
    background-color: rgb(59, 58, 58);
    color: rgb(139, 136, 136);
    border-radius: 50%;
    padding: 4px 5px;
    font-size: 12px;
}

.di3sub1d2sub2d1 {
    background-color: rgba(24, 24, 27, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-top: 17px;
    padding: 18px;
    border-radius: 15px;
    box-shadow: -2px 0 5px rgb(35, 232, 35);
}

.di3sub1d2sub2d1 .auth {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: line-through;
}

.di3sub1d2sub2d1sub1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.di3sub1d2sub2d1sub1 p:nth-child(1) {
    color: rgb(162, 160, 160);
}

.di3sub1d2sub2d1sub1 p:nth-child(2) {
    color: rgb(118, 233, 118);
}



.di3sub2 {
    width: 35%;
    margin-top: 8px;
}

.di3sub2d1 {
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 13px;
    color: white;
    padding: 20px;
    background-color: rgba(24, 24, 27, 0.6);
}

.di3sub2d1 h4 {
    margin-bottom: 15px;
    font-size: 19px;
}

.di3sub2d1sub1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto;

}


.di3sub2d1sub1 .pen {
    padding: 8px 10px 2px 10px;
    background-color: rgba(234, 137, 212, 0.2);
    border-radius: 8px;
    height: 29px;
    margin-top: 4px;
    color: rgb(195, 0, 255);

}

.di3sub2d1sub1d1 {
    margin-left: 20px;
}

.di3sub2d1sub1d1 p:nth-child(1) {
    font-size: 17px;

}

.di3sub2d1sub1d1 p:nth-child(2) {
    color: gray;
}

.di3sub2d1sub2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto;

}


.di3sub2d1sub2 .msg {
    padding: 8px 10px 2px 10px;
    background-color: rgba(137, 181, 234, 0.2);
    border-radius: 8px;
    height: 29px;
    margin-top: 4px;
    color: rgb(0, 102, 255);

}

.di3sub2d1sub2d1 {
    margin-left: 20px;
}

.di3sub2d1sub2d1 p:nth-child(1) {
    font-size: 17px;

}

.di3sub2d1sub2d1 p:nth-child(2) {
    color: gray;
}


.di3sub2d1sub3 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto;

}


.di3sub2d1sub3 .check {
    padding: 8px 10px 2px 10px;
    background-color: rgba(137, 234, 150, 0.2);
    border-radius: 8px;
    height: 29px;
    margin-top: 4px;
    color: rgb(0, 255, 34);

}

.di3sub2d1sub3d1 {
    margin-left: 20px;
}

.di3sub2d1sub3d1 p:nth-child(1) {
    font-size: 17px;

}

.di3sub2d1sub3d1 p:nth-child(2) {
    color: gray;
    font-size: 14px;
}

.di3sub2d2 {
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-top: 20px;
    border-radius: 12px;
    padding: 20px;
    background-color: rgba(24, 24, 27, 0.6);
}

.di3sub2d2 h4 {
    color: white;
    font-size: 18px;
}

.di3sub2d2sub1 {
    color: white;
    margin-top: 5px;
    border: 1px solid rgb(238, 74, 74);
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(235, 85, 85, 0.1);
}

.di3sub2d2sub1 p:nth-child(1) {
    position: absolute;
    width: 5px;
    height: 42px;
    background-color: rgb(240, 67, 67);
    border-radius: 5px;
}

.di3sub2d2sub1 p:nth-child(2) {
    padding-left: 15px;
}

.di3sub2d2sub1 p:nth-child(3) {
    padding-left: 15px;
    color: rgb(229, 109, 109);
    font-size: 14px;
}

.di3sub2d2sub2 {
    color: white;
    margin-top: 5px;
    border: 1px solid rgb(238, 235, 74);
    width: 80%;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(235, 228, 85, 0.1);
}

.di3sub2d2sub2 p:nth-child(1) {
    position: absolute;
    width: 5px;
    height: 42px;
    background-color: rgb(228, 240, 67);
    border-radius: 5px;
}

.di3sub2d2sub2 p:nth-child(2) {
    padding-left: 15px;
}

.di3sub2d2sub2 p:nth-child(3) {
    padding-left: 15px;
    color: rgb(217, 229, 109);
    font-size: 14px;
}