.main {
    width: 80%;
    background-color: black;
    color: white;
    float: right;
    height: 80px;
}

.sub {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    padding-top: 20px;
}

.sub1 {
    display: flex;
    justify-content: space-between;
    width: 18%;
}

.sub1 p:nth-child(1) i {
    font-size: 10px;
    color: rgb(109, 232, 109);
    animation: fade 2s infinite;
    position: absolute;
    bottom: -330px;
    right: 17.5%;
    z-index: 1;
}

@keyframes fade {

    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.9;
    }
}

.sub1 p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 600;
}