.main {
    width: 79.3%;
    height: 100vh;
    background-color: rgba(9, 9, 11, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.sub {
    background-color: rgba(9, 9, 11, 0.5);
    padding: 20px;
    border-radius: 5px;
}

.edata {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    flex-wrap: wrap;
    margin: 18px auto;

}

.edata p {
    padding: 10px;

}

.btn1 {
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: rgba(126, 223, 152, 0.2);
    color: rgb(121, 234, 60);
    margin-right: 5px;

}

.btn2 {
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: rgba(242, 155, 155, 0.2);
    color: red
}