.main {
    width: 80.1%;
    height: 70px;
    background-color: rgba(6, 6, 6, 0.99);
    right:0;
    position: fixed;
    z-index: 1;

}

.sub {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

}

.sub input {
    width: 30%;
    
}

.sub1 {
    color: white;
    display: flex;
    padding-top: 2px;
    justify-content: space-evenly;

    width: 18%;
}

.sub1 p:nth-child(1) {
    margin-right: 15px;
    font-size: 20px;
    padding-top: 5px;
}

.sub1 p:nth-child(2) {

    padding: 5px 15px 12px 10px;
    border-radius: 10px;
    font-size: 18px;
    height: 21px;
    background: linear-gradient(to left,
            #6366f1,
            #742be9);

}