.main {
    width: 80%;
    background-color: blueviolet;
    color: white;
    position: absolute;
    z-index: -1;
    right: 0;
    padding-top: 80px;
    height: 100vh;
}

.sub {
    width: 80%;
    margin: 0 auto;
    /* height: 100vh; */

}

h1 {
    color: white;
}

.sub1 {
    /* display: flex; */

    border: 1px solid white;

    border-radius: 10px;
}

.tda {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid white;
    margin: 30px;
    border-radius: 10px;
}

.tda p .idd {
    display: flex;

}