/* .main {
    width: 100%;
    height: 70px;
    background-color: rgb(194, 102, 102);
} */

.sub {
    width: 80%;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.sub ul{
    display: flex;
    justify-content: space-between
}

ul li {
    margin-top: 20px;
    list-style: none;
    color: white;
    font-weight: 700;
    /* position: absolute;
    z-index: 1; */
    
}

.sli{
    width: 90%;
    background-color: rgb(127, 174, 214);
    height: 90vh;
    transition: 0.5s;
}

.btn2{
    position: absolute;
    z-index: 2;
    padding: 15px;
}