.main {
    width: 100%;


}

@media (min-width:1200px) {

    .main {
        width: 80.01%;
        float: right;
        background-color: rgba(31, 30, 30, 0.9);
        height: 1000px;
    }

    .di1 {
        width: 99%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .d11 {
        display: flex;
        justify-content: space-evenly;
    }

    .d11sub1 {

        padding: 25px;
        border-radius: 15px;
        width: 18%;
        background-color: rgba(9, 9, 11, 0.29)
    }

    .d11sub2 {

        padding: 25px;
        border-radius: 15px;
        width: 18%;
        background-color: rgba(9, 9, 11, 0.29)
    }

    .d11sub3 {

        padding: 25px;
        border-radius: 15px;
        width: 18%;
        background-color: rgba(9, 9, 11, 0.29)
    }

    .d11sub4 {

        padding: 25px;
        border-radius: 15px;
        width: 18%;
        background-color: rgba(9, 9, 11, 0.29)
    }

    .d11sub11 {
        display: flex;
        justify-content: space-between;
    }

    .d11sub11p1 {
        padding: 12px;
        background-color: rgba(220, 177, 249, 0.1);
        border: none;
        border-radius: 10px;
        color: rgb(159, 98, 240);
        font-size: 25px;
    }

    .d11sub11p2 {
        font-weight: 600;
        color: rgb(59, 239, 59);
    }

    .d11sub11p2 i {
        font-size: 12px;
    }

    .d11sub1p1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: gray;
    }

    .d11sub1p2 {
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    .d11sub21 {
        display: flex;
        justify-content: space-between;
    }

    .d11sub21p1 {
        color: rgb(0, 200, 255);
        padding: 12px;
        border: none;
        background-color: rgba(142, 161, 161, 0.5);
        border-radius: 10px;
        font-size: 25px;
    }

    .d11sub21p2 {
        color: rgba(0, 255, 255, 0.734);
    }

    .d11sub2p1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: gray;
    }

    .d11sub2p2 {
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    .d11sub2p2 span {
        font-size: 14px;
        color: rgb(188, 185, 185);
    }

    .d11sub31 {
        display: flex;
        justify-content: space-between;
    }

    .d11sub31p1 {
        color: rgb(154, 225, 153);
        padding: 12px;
        border: none;
        background-color: rgba(142, 161, 142, 0.5);
        border-radius: 10px;
        font-size: 25px;
    }

    .d11sub31p2 {
        color: rgb(105, 228, 144);
    }

    .d11sub3p1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: gray;
    }

    .d11sub3p2 {
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    .d11sub41 {
        display: flex;
        justify-content: space-between;
    }

    .d11sub41p1 {
        color: rgb(189, 8, 8);
        padding: 12px;
        border: none;
        background-color: rgba(161, 142, 142, 0.5);
        border-radius: 10px;
        font-size: 25px;
    }

    .d11sub41p2 {
        color: rgba(239, 141, 141, 0.925);
    }

    .d11sub4p1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: gray;
    }

    .d11sub4p2 {
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    .d11sub4p2 span {
        font-size: 14px;
        color: rgb(188, 185, 185);
    }

    /* ---------------------------------d12------------------------------- */

    .d12 {
        width: 99%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
        margin: 0 auto;
    }

    .d12sub1 {
        width: 60%;
        height: 710px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .d12sub11 {
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: 10px auto;
        padding-top: 10px;
    }

    .d12sub11 h4 {
        color: white;
        font-size: 20px;
    }

    .d12sub11 p {
        color: rgb(148, 57, 234);
        text-transform: capitalize;
    }

    .di1mems {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .di1memsub1 {
        width: 25%;
        background-color: rgb(82, 80, 80);
        padding: 15px;
        border-radius: 10px;
    }

    .di1memsub11 {
        display: flex;
        justify-content: space-evenly;
    }

    .di1memsub11 img {
        border-radius: 10px;
        background-color: rgb(140, 134, 134);
        padding: 10px 5px 5px 15px;
        margin-right: 5px;
        height: 50px;
    }

    .di1memsub12p1 {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    .di1memsub12p2 {
        color: black;
        font-weight: 400;

    }

    .di1memsub13 {
        display: flex;
        justify-content: space-between;
    }

    .di1memsub13 .output {
        margin-right: 10px;
    }

    .di1memsub13 .output p:nth-child(1) {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
    }

    .di1memsub13 .output p:nth-child(2) {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;
    }

    .di1memsub13 .task p:nth-child(1) {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 12px;
        font-weight: 500;
    }


    .di1memsub13 .task p:nth-child(2) {
        text-transform: capitalize;
        font-size: 12px;
        color: rgb(201, 181, 235);
    }

    /* ------------------------------------------------------- */

    .di1memsub2 {
        width: 25%;
        background-color: rgb(82, 80, 80);
        padding: 15px;
        border-radius: 10px;
    }

    .di1memsub21 {
        display: flex;
        justify-content: space-evenly;
    }

    .di1memsub21 img {
        border-radius: 10px;
        background-color: rgb(140, 134, 134);
        padding: 10px 5px 5px 15px;
        margin-right: 5px;
        height: 50px;
    }

    .di1memsub22 p:nth-child(1) {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    .di1memsub22 p:nth-child(2) {
        color: black;
        font-weight: 400;
    }


    .output1 {
        margin-right: 10px;
    }

    .output1 p:nth-child(1) {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
    }

    .output1 p:nth-child(2) {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;
    }

    .task1 p:nth-child(1) {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 12px;
        font-weight: 500;
    }

    .task1 p:nth-child(2) {
        text-transform: capitalize;
        font-size: 12px;
        color: rgb(174, 177, 249);
    }

    /* ------------------------------------------------------ */


    .di1memsub3 {
        width: 25%;
        background-color: rgb(82, 80, 80);
        padding: 15px;
        border-radius: 10px;
    }

    .di1memsub31 {
        display: flex;
        justify-content: space-evenly;
    }

    .di1memsub31 img {
        border-radius: 10px;
        background-color: rgb(140, 134, 134);
        padding: 10px 5px 5px 15px;
        margin-right: 6px;
        height: 50px;
    }

    .di1memsub32 p:nth-child(1) {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    .di1memsub32 p:nth-child(2) {
        color: black;
        font-weight: 400;
    }

    .di1memsub33 {
        display: flex;
    }

    .output2 {
        margin-right: 10px;
    }

    .output2 p:nth-child(1) {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
    }

    .output2 p:nth-child(2) {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;
    }

    .task2 p:nth-child(1) {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 12px;
        font-weight: 500;
    }

    .task2 p:nth-child(2) {
        text-transform: capitalize;
        font-size: 12px;
        color: rgb(174, 177, 249);
    }

    /* --------------------------active---------------------------------------- */

    .active {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 20px auto;
    }

    .active .acte {
        color: white;
        text-transform: capitalize;
        padding-top: 8px;
    }

    .acti1 {
        display: flex;
        width: 15%;
        justify-content: space-evenly;
    }


    .acti1 p:nth-child(1) {
        padding: 8px 10px 10px 10px;
        background-color: rgb(78, 80, 80);
        border-radius: 10px;
        color: white;

    }

    .acti1 p:nth-child(2) {
        padding: 8px 10px 10px 10px;
        background-color: rgb(95, 97, 97);
        border-radius: 10px;
        color: white;

    }

    /* --------------------------------------working----------------------------------------- */

    .working {
        display: flex;
        justify-content: space-evenly;
    }

    .workingdi1sub1 {
        display: flex;
        justify-content: space-between;
        color: gray;
        text-transform: capitalize;
    }

    .workingdi1sub2 {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin-top: 20px;
        border-radius: 10px;
        width: 90%;
    }

    .workingdi1sub2 p:nth-child(1) {

        width: 25%;
        padding: 4px 0px 8px 10px;
        text-transform: uppercase;
        border-radius: 7px;
        color: rgb(233, 87, 14);
        background-color: rgba(187, 137, 119, 0.2);
        font-size: 13px;
    }

    .workingdi1sub2 p:nth-child(2) {
        color: white;
        text-transform: capitalize;
        margin-top: 9px;
        font-weight: 600;
    }

    .workingdi1sub3 {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .workingdi1sub3 p:nth-child(1) {
        border-radius: 50%;
        padding: 10px;
        width: 5%;
    }


    .workingdi2sub1 {
        display: flex;
        justify-content: space-between;
        color: gray;
        text-transform: capitalize;
    }

    .workingdi2sub2 {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin-top: 10px;
        border-radius: 10px;
        margin-top: 20px;
        width: 90%;
    }


    .workingdi2sub2 p:nth-child(1) {

        width: 25%;
        padding: 4px 5px 8px 10px;
        text-transform: uppercase;
        border-radius: 7px;
        color: rgb(233, 14, 14);
        background-color: rgba(187, 119, 119, 0.2);
        font-size: 13px;
    }


    .workingdi2sub2 p:nth-child(2) {
        color: white;
        text-transform: capitalize;
        margin-top: 10px;

    }

    .workingdi2sub2 p:nth-child(3) {
        width: 15%;
        height: 6px;
        background-color: rgb(165, 172, 167);
        margin-top: 8px;
        position: absolute;
        z-index: -1;


    }

    .workingdi2sub2 p:nth-child(4) {
        width: 60%;
        height: 6px;
        background-color: rgb(58, 15, 232);
        margin-top: 8px;
    }

    .workingdi2sub3 {
        display: flex;
        justify-content: space-between;
    }

    .workingdi2sub3 p:nth-child(1) {
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        color: rgb(123, 93, 243);
    }

    .d12sub2 {
        width: 36%;

    }

    .d12sub21 {
        width: 100%;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .d12sub211 {
        display: flex;
        justify-content: space-between;
        padding: 20px;

    }

    .d12sub211 P:nth-child(1) {
        color: white;
        font-size: 17px;
        text-transform: capitalize;
        font-weight: 700;
    }

    .d12sub211 P:nth-child(2) {
        color: gray;
    }

    .d12sub212 {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .d12sub212 p:nth-child(1) {
        height: 40px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        top: 55%;
        right: 24.7%;
        margin-top: 94px;
        color: rgba(0, 0, 0, 0.3);


    }

    .d12sub212 p:nth-child(1):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(2) {
        height: 80px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.2);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 21.3%;
        margin-top: 21.2px;
        color: rgba(0, 0, 0, 0.3);

    }

    .d12sub212 p:nth-child(2):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(3) {
        height: 100px;

        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 17.9%;
        width: 3%;
        background-color: rgb(159, 73, 240);
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(3):hover {
        color: white;
    }

    .d12sub212 p:nth-child(4) {
        height: 70px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 14.5%;
        margin-top: 29.5px;
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(4):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(5) {
        height: 100px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 11.1%;
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(5):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(6) {
        height: 60px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 7.6%;
        margin-top: 39px;
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(6):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(7) {
        height: 30px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 4%;
        margin-top: 69px;
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(7):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub213 {
        display: flex;
        margin-top: 105px
    }

    .d12sub213 p:nth-child(1) {
        margin-left: 35px;
        color: gray;
        text-transform: uppercase;
         font-size: 14px;
    }

    .d12sub213 p:nth-child(2) {
        margin-left: 63px;
        color: gray;
        text-transform: uppercase;
         font-size: 14px;
    }

    .d12sub213 p:nth-child(3) {
        margin-left: 70px;
        color: gray;
        text-transform: uppercase;
         font-size: 14px;
    }

    .d12sub213 p:nth-child(4) {
        margin-left: 75px;
        color: gray;
        text-transform: uppercase;
         font-size: 14px;
    }

    .d12sub214 {
        display: flex;
        justify-content: space-between;
        margin: 30px auto;
        width: 90%;
        
    }

    .d12sub214 P:nth-child(1) {
        text-transform: capitalize;
        color: gray;
    }

    .d12sub214 P:nth-child(2) {
        color: white;
        font-weight: 700;
    }

    .d12sub215 {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        width: 90%;
    }

    .d12sub215 p:nth-child(1) {
        color: gray;
        text-transform: capitalize;
    }

    .d12sub215 p:nth-child(2) {
        color: rgba(118, 209, 118, 0.9);
        text-transform: capitalize;
        font-weight: 900;

    }

    .d12sub22 {
        width: 100%;
        height: 340px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        border-radius: 10px;
    }

    .d12sub22 h4{
        margin-left: 20px;
        font-size: 20px;
        color: white;
       padding-top: 25px;
    }

    .d12sub221 {
        display: flex;
        width: 90%;
        margin: 10px auto;
    }

    .d12sub221 .per {
        padding: 10px;
        background-color: azure;
        height: 24px;
        border-radius: 7px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .d12sub2211 p:nth-child(1) {
        color: white;
        margin-top: 3px;
    }


    .d12sub2211 p:nth-child(1) span {
        text-transform: capitalize;
        color: blueviolet;
    }

    .d12sub2211 p:nth-child(2) {
        color: gray;
        text-transform: uppercase;
        font-size: 13px;
    }

    .d12sub222 {
        display: flex;
        width: 90%;
        margin: 10px auto;
    }

    .d12sub222 .per1 {
        padding: 10px;
        background-color: azure;
        height: 24px;
        border-radius: 7px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .d12sub2221 p:nth-child(1) {
        color: white;
        margin-top: 3px;
    }


    .d12sub2221 p:nth-child(1) span {
        text-transform: capitalize;
        color: rgb(43, 226, 92);
    }

    .d12sub2221 p:nth-child(2) {
        color: white;
        margin-top: 3px;
        border: 1px solid white;
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px;
        font-size: 13px;
    }

    .d12sub2221 p:nth-child(3) {
        margin-top: 5px;
        color: gray;
        text-transform: uppercase;
    }

    .d12sub223 {
        display: flex;
        width: 90%;
        margin: 10px auto;
    }

    .d12sub223 .per2 {
        padding: 10px;
        background-color: rgba(219, 212, 232, 0.1);
        height: 24px;
        border-radius: 7px;
        margin-right: 10px;
        margin-top: 10px;
        color: rgb(192, 146, 236);
    }

    .d12sub2231 p:nth-child(1) {
        color: white;
        margin-top: 3px;
    }

    .d12sub2231 p:nth-child(1) span {
        color: rgb(148, 66, 214);
        font-weight: 600;
    }

    .d12sub2231 p:nth-child(2) {
        color: gray;
        text-transform: uppercase;
    }
}

@media (min-width:1400px) {

    .main {
        width: 80.01%;
        float: right;
        background-color: rgba(31, 30, 30, 0.9);
        height: 1000px;
    }

    .di1 {
        width: 99%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .d11 {
        display: flex;
        justify-content: space-evenly;
    }

    .d11sub1 {

        padding: 25px;
        border-radius: 15px;
        width: 18%;
        background-color: rgba(9, 9, 11, 0.29)
    }

    .d11sub2 {

        padding: 25px;
        border-radius: 15px;
        width: 18%;
        background-color: rgba(9, 9, 11, 0.29)
    }

    .d11sub3 {

        padding: 25px;
        border-radius: 15px;
        width: 18%;
        background-color: rgba(9, 9, 11, 0.29)
    }

    .d11sub4 {

        padding: 25px;
        border-radius: 15px;
        width: 18%;
        background-color: rgba(9, 9, 11, 0.29)
    }

    .d11sub11 {
        display: flex;
        justify-content: space-between;
    }

    .d11sub11p1 {
        padding: 12px;
        background-color: rgba(220, 177, 249, 0.1);
        border: none;
        border-radius: 10px;
        color: rgb(159, 98, 240);
        font-size: 25px;
    }

    .d11sub11p2 {
        font-weight: 600;
        color: rgb(59, 239, 59);
    }

    .d11sub11p2 i {
        font-size: 12px;
    }

    .d11sub1p1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: gray;
    }

    .d11sub1p2 {
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    .d11sub21 {
        display: flex;
        justify-content: space-between;
    }

    .d11sub21p1 {
        color: rgb(0, 200, 255);
        padding: 12px;
        border: none;
        background-color: rgba(142, 161, 161, 0.5);
        border-radius: 10px;
        font-size: 25px;
    }

    .d11sub21p2 {
        color: rgba(0, 255, 255, 0.734);
    }

    .d11sub2p1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: gray;
    }

    .d11sub2p2 {
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    .d11sub2p2 span {
        font-size: 14px;
        color: rgb(188, 185, 185);
    }

    .d11sub31 {
        display: flex;
        justify-content: space-between;
    }

    .d11sub31p1 {
        color: rgb(154, 225, 153);
        padding: 12px;
        border: none;
        background-color: rgba(142, 161, 142, 0.5);
        border-radius: 10px;
        font-size: 25px;
    }

    .d11sub31p2 {
        color: rgb(105, 228, 144);
    }

    .d11sub3p1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: gray;
    }

    .d11sub3p2 {
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    .d11sub41 {
        display: flex;
        justify-content: space-between;
    }

    .d11sub41p1 {
        color: rgb(189, 8, 8);
        padding: 12px;
        border: none;
        background-color: rgba(161, 142, 142, 0.5);
        border-radius: 10px;
        font-size: 25px;
    }

    .d11sub41p2 {
        color: rgba(239, 141, 141, 0.925);
    }

    .d11sub4p1 {
        margin-top: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: gray;
    }

    .d11sub4p2 {
        font-size: 24px;
        font-weight: 900;
        color: white;
    }

    .d11sub4p2 span {
        font-size: 14px;
        color: rgb(188, 185, 185);
    }

    /* ---------------------------------d12------------------------------- */

    .d12 {
        width: 99%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
        margin: 0 auto;
    }

    .d12sub1 {
        width: 60%;
        height: 710px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .d12sub11 {
        display: flex;
        width: 90%;
        justify-content: space-between;
        margin: 10px auto;
        padding-top: 10px;
    }

    .d12sub11 h4 {
        color: white;
        font-size: 20px;
    }

    .d12sub11 p {
        color: rgb(148, 57, 234);
        text-transform: capitalize;
    }

    .di1mems {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .di1memsub1 {
        width: 25%;
        background-color: rgb(82, 80, 80);
        padding: 15px;
        border-radius: 10px;
    }

    .di1memsub11 {
        display: flex;
        justify-content: space-evenly;
    }

    .di1memsub11 img {
        border-radius: 10px;
        background-color: rgb(140, 134, 134);
        padding: 10px 5px 5px 15px;
        margin-right: 5px;
        height: 50px;
    }

    .di1memsub12p1 {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    .di1memsub12p2 {
        color: black;
        font-weight: 400;

    }

    .di1memsub13 {
        display: flex;
        justify-content: space-between;
    }

    .di1memsub13 .output {
        margin-right: 10px;
    }

    .di1memsub13 .output p:nth-child(1) {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
    }

    .di1memsub13 .output p:nth-child(2) {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;
    }

    .di1memsub13 .task p:nth-child(1) {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 12px;
        font-weight: 500;
    }


    .di1memsub13 .task p:nth-child(2) {
        text-transform: capitalize;
        font-size: 12px;
        color: rgb(201, 181, 235);
    }

    /* ------------------------------------------------------- */

    .di1memsub2 {
        width: 25%;
        background-color: rgb(82, 80, 80);
        padding: 15px;
        border-radius: 10px;
    }

    .di1memsub21 {
        display: flex;
        justify-content: space-evenly;
    }

    .di1memsub21 img {
        border-radius: 10px;
        background-color: rgb(140, 134, 134);
        padding: 10px 5px 5px 15px;
        margin-right: 5px;
        height: 50px;
    }

    .di1memsub22 p:nth-child(1) {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    .di1memsub22 p:nth-child(2) {
        color: black;
        font-weight: 400;
    }


    .output1 {
        margin-right: 10px;
    }

    .output1 p:nth-child(1) {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
    }

    .output1 p:nth-child(2) {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;
    }

    .task1 p:nth-child(1) {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 12px;
        font-weight: 500;
    }

    .task1 p:nth-child(2) {
        text-transform: capitalize;
        font-size: 12px;
        color: rgb(174, 177, 249);
    }

    /* ------------------------------------------------------ */


    .di1memsub3 {
        width: 25%;
        background-color: rgb(82, 80, 80);
        padding: 15px;
        border-radius: 10px;
    }

    .di1memsub31 {
        display: flex;
        justify-content: space-evenly;
    }

    .di1memsub31 img {
        border-radius: 10px;
        background-color: rgb(140, 134, 134);
        padding: 10px 5px 5px 15px;
        margin-right: 6px;
        height: 50px;
    }

    .di1memsub32 p:nth-child(1) {
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    .di1memsub32 p:nth-child(2) {
        color: black;
        font-weight: 400;
    }

    .di1memsub33 {
        display: flex;
    }

    .output2 {
        margin-right: 10px;
    }

    .output2 p:nth-child(1) {
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 700;
    }

    .output2 p:nth-child(2) {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 17px;
    }

    .task2 p:nth-child(1) {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 12px;
        font-weight: 500;
    }

    .task2 p:nth-child(2) {
        text-transform: capitalize;
        font-size: 12px;
        color: rgb(174, 177, 249);
    }

    /* --------------------------active---------------------------------------- */

    .active {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 20px auto;
    }

    .active .acte {
        color: white;
        text-transform: capitalize;
        padding-top: 8px;
    }

    .acti1 {
        display: flex;
        width: 15%;
        justify-content: space-evenly;
    }


    .acti1 p:nth-child(1) {
        padding: 8px 10px 10px 10px;
        background-color: rgb(78, 80, 80);
        border-radius: 10px;
        color: white;

    }

    .acti1 p:nth-child(2) {
        padding: 8px 10px 10px 10px;
        background-color: rgb(95, 97, 97);
        border-radius: 10px;
        color: white;

    }

    /* --------------------------------------working----------------------------------------- */

    .working {
        display: flex;
        justify-content: space-evenly;
    }

    .workingdi1sub1 {
        display: flex;
        justify-content: space-between;
        color: gray;
        text-transform: capitalize;
    }

    .workingdi1sub2 {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin-top: 20px;
        border-radius: 10px;
        width: 90%;
    }

    .workingdi1sub2 p:nth-child(1) {

        width: 25%;
        padding: 4px 0px 8px 10px;
        text-transform: uppercase;
        border-radius: 7px;
        color: rgb(233, 87, 14);
        background-color: rgba(187, 137, 119, 0.2);
        font-size: 13px;
    }

    .workingdi1sub2 p:nth-child(2) {
        color: white;
        text-transform: capitalize;
        margin-top: 9px;
        font-weight: 600;
    }

    .workingdi1sub3 {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .workingdi1sub3 p:nth-child(1) {
        border-radius: 50%;
        padding: 10px;
        width: 5%;
    }


    .workingdi2sub1 {
        display: flex;
        justify-content: space-between;
        color: gray;
        text-transform: capitalize;
    }

    .workingdi2sub2 {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 15px;
        margin-top: 10px;
        border-radius: 10px;
        margin-top: 20px;
        width: 90%;
    }


    .workingdi2sub2 p:nth-child(1) {

        width: 25%;
        padding: 4px 5px 8px 10px;
        text-transform: uppercase;
        border-radius: 7px;
        color: rgb(233, 14, 14);
        background-color: rgba(187, 119, 119, 0.2);
        font-size: 13px;
    }


    .workingdi2sub2 p:nth-child(2) {
        color: white;
        text-transform: capitalize;
        margin-top: 10px;

    }

    .workingdi2sub2 p:nth-child(3) {
        width: 15%;
        height: 6px;
        background-color: rgb(165, 172, 167);
        margin-top: 8px;
        position: absolute;
        z-index: -1;


    }

    .workingdi2sub2 p:nth-child(4) {
        width: 60%;
        height: 6px;
        background-color: rgb(58, 15, 232);
        margin-top: 8px;
    }

    .workingdi2sub3 {
        display: flex;
        justify-content: space-between;
    }

    .workingdi2sub3 p:nth-child(1) {
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        color: rgb(123, 93, 243);
    }

    .d12sub2 {
        width: 36%;

    }

    .d12sub21 {
        width: 100%;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .d12sub211 {
        display: flex;
        justify-content: space-between;
        padding: 20px;

    }

    .d12sub211 P:nth-child(1) {
        color: white;
        font-size: 17px;
        text-transform: capitalize;
        font-weight: 700;
    }

    .d12sub211 P:nth-child(2) {
        color: gray;
    }

    .d12sub212 {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .d12sub212 p:nth-child(1) {
        height: 40px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        top: 50%;
        right: 24.7%;
        margin-top: 94px;
        color: rgba(0, 0, 0, 0.3);


    }

    .d12sub212 p:nth-child(1):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(2) {
        height: 80px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.2);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 21.3%;
        margin-top: 21.2px;
        color: rgba(0, 0, 0, 0.3);

    }

    .d12sub212 p:nth-child(2):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(3) {
        height: 100px;

        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 17.9%;
        width: 3%;
        background-color: rgb(159, 73, 240);
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(3):hover {
        color: white;
    }

    .d12sub212 p:nth-child(4) {
        height: 70px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 14.5%;
        margin-top: 29.5px;
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(4):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(5) {
        height: 100px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 11.1%;
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(5):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(6) {
        height: 60px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 7.6%;
        margin-top: 39px;
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(6):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub212 p:nth-child(7) {
        height: 30px;
        width: 3%;
        background-color: rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        right: 4%;
        margin-top: 69px;
        color: rgba(0, 0, 0, 0.3);
    }

    .d12sub212 p:nth-child(7):hover {
        background-color: rgb(159, 73, 240);
        color: white;
    }

    .d12sub213 {
        display: flex;
        margin-top: 105px
    }

    .d12sub213 p:nth-child(1) {
        margin-left: 35px;
        color: gray;
        text-transform: uppercase;
    }

    .d12sub213 p:nth-child(2) {
        margin-left: 60px;
        color: gray;
        text-transform: uppercase;
    }

    .d12sub213 p:nth-child(3) {
        margin-left: 70px;
        color: gray;
        text-transform: uppercase;
    }

    .d12sub213 p:nth-child(4) {
        margin-left: 70px;
        color: gray;
        text-transform: uppercase;
    }

    .d12sub214 {
        display: flex;
        justify-content: space-between;
        margin: 30px auto;
        width: 90%;

    }

    .d12sub214 P:nth-child(1) {
        text-transform: capitalize;
        color: gray;
    }

    .d12sub214 P:nth-child(2) {
        color: white;
        font-weight: 700;
    }

    .d12sub215 {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        width: 90%;
    }

    .d12sub215 p:nth-child(1) {
        color: gray;
        text-transform: capitalize;
    }

    .d12sub215 p:nth-child(2) {
        color: rgba(118, 209, 118, 0.9);
        text-transform: capitalize;
        font-weight: 900;

    }

    .d12sub22 {
        width: 100%;
        height: 340px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        border-radius: 10px;
    }

    .d12sub22 h4{
        margin-left: 20px;
        font-size: 20px;
        color: white;
       padding-top: 25px;
    }

    .d12sub221 {
        display: flex;
        width: 90%;
        margin: 10px auto;
    }

    .d12sub221 .per {
        padding: 10px;
        background-color: azure;
        height: 24px;
        border-radius: 7px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .d12sub2211 p:nth-child(1) {
        color: white;
        margin-top: 3px;
    }


    .d12sub2211 p:nth-child(1) span {
        text-transform: capitalize;
        color: blueviolet;
    }

    .d12sub2211 p:nth-child(2) {
        color: gray;
        text-transform: uppercase;
        font-size: 13px;
    }

    .d12sub222 {
        display: flex;
        width: 90%;
        margin: 10px auto;
    }

    .d12sub222 .per1 {
        padding: 10px;
        background-color: azure;
        height: 24px;
        border-radius: 7px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .d12sub2221 p:nth-child(1) {
        color: white;
        margin-top: 3px;
    }


    .d12sub2221 p:nth-child(1) span {
        text-transform: capitalize;
        color: rgb(43, 226, 92);
    }

    .d12sub2221 p:nth-child(2) {
        color: white;
        margin-top: 3px;
        border: 1px solid white;
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px;
        font-size: 13px;
    }

    .d12sub2221 p:nth-child(3) {
        margin-top: 5px;
        color: gray;
        text-transform: uppercase;
    }

    .d12sub223 {
        display: flex;
        width: 90%;
        margin: 10px auto;
    }

    .d12sub223 .per2 {
        padding: 10px;
        background-color: rgba(219, 212, 232, 0.1);
        height: 24px;
        border-radius: 7px;
        margin-right: 10px;
        margin-top: 10px;
        color: rgb(192, 146, 236);
    }

    .d12sub2231 p:nth-child(1) {
        color: white;
        margin-top: 3px;
    }

    .d12sub2231 p:nth-child(1) span {
        color: rgb(148, 66, 214);
        font-weight: 600;
    }

    .d12sub2231 p:nth-child(2) {
        color: gray;
        text-transform: uppercase;
    }
}