.main {
    width: 80%;
    height: 100vh;
    background-color: gray;
    position: absolute;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.sub {
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
}

.sub h2 {
    margin-top: 0;
}

.sub1 .btn1 {
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
}